{% extends "main.html" %}

{% block styles %}
  .hero-container {
    width: 50%;
    display: inline-block;
  }

  .hero-container p {
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    color: inherit;
  }

  .hero-container h1 {
    margin-bottom: 0;
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
    color: inherit;
  }

  .hero-container h2 {
    font-size: 24px;
    color: #FFFFFF;
  }

  .picture {
    width: 45%;
    display: inline-block;
  }

  img {
    max-width: 100%;
  }

  .pull-left {
    padding: 11px;
  }

  .btn.fullwidth {
    width: 100%;
    margin-top: 22px;
  }

  .inline {
    display: inline;
    width: 33px;
  }

  #attendees {
    margin-top: 33px;
  }

  #unclaimedDishes {
    display: inline-block;
  }

  #dishes-container {
    margin-top: 22px;
  }

{% endblock %}

{% block hero %}
  <div class="hero-container">
    <p>{{ event.hostName }} is having a</p>
    <h1>{{ event.name }}!!!</h1>
    <h2>Can you make it?</h2>
  </div>
  <div class="picture">
    <img src="/static/img/funevent.png" alt="it's gonna be awesome!">
  </div>
{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-md-4">

      {% if event.location %}
        <a class="pull-left">
          <embed src="/static/img/where.svg"
            width="63"
            height="63"
            type="image/svg+xml"
          />
        </a>

        <div class="well">
          <h4 class="media-heading">Where?</h4>
          {{ event.location }}
        </div>
      {% endif %}

      <a class="pull-left">
        <embed src="/static/img/when.svg"
          width="57"
          height="57"
          type="image/svg+xml"
        />
      </a>
      <div class="well">
        <h4 class="media-heading">When?</h4>
        {{ event.date }} at {{ event.time }}
      </div>

      {% if event.description %}
        <a class="pull-left">
          <embed src="/static/img/what.svg"
            width="65"
            height="65"
            class='svg-pic'
          />
        </a>

        <div class="well">
          <h4 class="media-heading">What?</h4><br>
          <span id="description">{{ event.description }}</span>
        </div>
      {% endif %}

      <div class='bottle-div'>
        <a class="pull-left">
          <embed
            src="/static/img/wine.svg"
            width="75"
            height="80"
            type="image/svg+xml"class='svg-pic'
          />
        </a>

        <div class="well">
          <h4 class="media-heading">We still need...</h4>
          <span id="unclaimedDishes">
          {% for dish in unclaimedDishes %}
            <p>{{ dish }}</p>
          {% endfor %}
          </span>
        </div>
      </div>

      {% if acceptCash %}
        <a class="pull-left">
          <embed
            src="/static/img/money.svg"
            width="65"
            height="60"
            type="image/svg+xml"
            class='svg-pic'
          />
        </a>

        <div class="well">
          <h4 class="media-heading" >How much? <small>(Suggested)</small></h4>
          {{ event.cashAmount }}
        </div>
      {% endif %}

    </div>

    <div class="col-md-4">
      <a class="pull-left">
        <embed
          src="/static/img/man.svg"
          width="55"
          height="60"
          type="image/svg+xml"
          class='svg-pic'
        />
      </a>

      <div id="guests-coming">
        <h4> Attendees: </h4>
        {% if numGuests %}
          <h4> ({{ numGuests }} of {{ event.numGuests }}) </h4>
        {% else %}
          <h4> {{ numGuests }} </h4>
        {% endif %}
      </div>

      <div id="attendees">
        {% for guest in guests %}
          <p><strong>{{ guest.name }}</strong>
          {% if guest.dishes %}
            bringing {{ guest.dishes }}
          {% endif %}
          </p>
        {% endfor %}
      </div>

      <div>
        <button class="btn btn-block" id="add-guest" onclick="onAddGuestClick()">
          Get me on this list!
        </button>
      </div>

    </div>


    <div class="col-md-4" id="rsvp-well" hidden>
      <form class="well" id="guest-creation-form"
        action={{ guestCreationEndpoint }} method="post">
        <div class="form-group">
          <label for="eventDate">Who are you?</label>
          <input class="form-control" id="guestName"
            name="name" placeholder="The Cheshire Cat">
        </div>
        <div class="form-group">
          <label for="eventDate">Your Email (Optional)</label>
          <input class="form-control" id="guestEmail"
            name="email" type="email" placeholder="BigSmiles@yahoo.com">
        </div>

        <button class="btn fullwidth" id="bring-button">
          I'll bring something
        </button>

        <div id="dishes-container" hidden>
          {% for dish in unclaimedDishes %}
            <div>
              <input class="inline dish" data-dish={{ dish }} type="checkbox">
              <span>{{ dish }}</span>
            </div>
          {% endfor %}
          <input id="_dishes" name="dishes" type="hidden">
          <input id="_bringing-cash" name="bringing_cash" type="hidden">
        </div>

        <button class="btn btn-primary fullwidth" id="submit">RSVP</button>
      </div>
    </form >
  </div>
{% endblock %}

{% block scripts %}
  <script src="/static/js/event.js"></script>
{% endblock %}