{% extends "main.html" %}

{% block hero %}
  <h1>Events</h1>
{% endblock %}

{% block body %}
  <table class="table table-striped"
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Location</th>
      <th>Datetime</th>
      <th>hostName</th>
    </tr>
    {% for event in events %}
      <tr>
        <td>{{ event.id }}</td>
        <td>{{ event.name }}</td>
        <td>{{ event.location }}</td>
        <td>{{ event.datetime }}</td>
        <td>{{ event.hostName }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
