{% extends "main.html" %}

{% block styles %}
  label {
    font-weight: 200;
  }

  .form-horizontal .form-group{
    margin-left: 0;
    margin-right: 0;
  }

  .btn.fullwidth {
    width: 100%;
    margin-top: 44px;
  }
{% endblock %}

{% block hero %}
  <h1>What2Bring</h1>
  <p>You already know when it's happenening.  Now, it's only a question of who's coming and what they're bringing.</p>
  <h3>Let's get started:</h3>
  <input class="form-control" type="string" id="eventName" placeholder="Name Your Event">
{% endblock %}

{% block body %}
  <form id="event-creation-form" action="/events" method="post">
    <!-- Fill in with JS -->
    <input id="_eventName" name="name" hidden>

    <div class="col-md-4">
      <h2>Where & When?</h2>

      <div class="form-group">
        <label for="eventDate">Event Date</label>
        <input class="form-control" id="eventDate"
          name="date" type="date"  placeholder="Date">
      </div>

      <div class="form-group">
        <label for="eventTime">Event Time</label>
        <input class="form-control" id="eventTime"
          name="time" type="string" placeholder="Time">
      </div>

      <div class="form-group">
        <label for="eventLocation">Event Location</label>
        <input class="form-control" id="eventLocation"
          name="location" type="string" placeholder="Location">
      </div>

      <div class="form-group">
        <label for="eventDescription">Event Description (optional)</label>
        <input class="form-control" id="eventDescription"
          name="description" type="text" placeholder="Description">
      </div>

    </div>

    <div class="col-md-4">
      <h2>Who?</h2>

      <div class="form-group">
        <label for="hostName">Who Are You?</label>
        <input class="form-control" id="hostName"
          name="hostName" type="string" placeholder="Name">
      </div>

      <div class="form-group">
        <label for="hostEmail">Your Email (optional)</label>
        <input class="form-control" id="hostEmail"
          name="hostEmail" type="email" placeholder="Email">
      </div>

      <div class="form-group">
        <label for="guestNames">How many guests can you host?</label>
        <input class="form-control" id="numGuests"
          name="guestNames" type="number" placeholder="">
      </div>

      <div class="form-group">
        <label for="guestEmails">Guest Emails (optional):</label>
        <input class="form-control" id="guestEmails"
          name="guestEmails" type="text" placeholder="Emails">
      </div>

    </div>

    <div class="col-md-4">
      <h2>What?</h2>

      <div class="form-group">
        <label for="dishesToBring">What should guests bring?  Separate dishes with commas.</label>
        <input class="form-control" id="dishesToBring"
          name="dishesToBring" type="text" placeholder="What to bring?">
      </div>

      <div class="form-group">
        <label for="acceptCash">Can guests pay with cash?</label>
        <input type="hidden" name="acceptCash">
        <input class="form-control" id="acceptCash" name="acceptCash" type="checkbox">
      </div>

      <div class="form-group">
        <label for="cashAmount">How Much?</label>
        <input class="form-control" id="cashAmount"
          name="cashAmount" type="number">
      </div>

    </div>

  </form>
  <p>
    <button id="submit" class="btn fullwidth btn-primary" type="submit">
      Let's Do it!
    </button>
  </p>
{% endblock %}

{% block scripts %}
  <script src="/static/js/home.js"></script>
{% endblock %}
