{% extends "main.html" %}

{% block styles %}
  label {
    font-weight: 200;
  }

  .form-horizontal .form-group{
    margin-left: 0;
    margin-right: 0;
  }

  .btn.fullwidth {
    width: 100%;
    margin-top: 44px;
  }
{% endblock %}

{% block hero %}
  <h1>What2Bring</h1>
  <p>You already know when it's happenening.  Now, it's only a question of who's coming and what they're bringing.</p>
  <h3>Let's get started:</h3>
  <form class="form">
    <input class="form-control" type="string" id="eventName" placeholder="Name Your Event">
  </form>
{% endblock %}

{% block body %}
  <div class="col-md-4">
    <h2>Where & When?</h2>
    <form class="form-horizontal">
      <div class="form-group">
        <label for="eventDate">Event Date</label>
        <input class="form-control" class="form-control" type="date" id="eventDate" placeholder="Date">
      </div>

      <div class="form-group">
        <label for="eventTime">Event Time</label>
        <input class="form-control" type="string" id="eventTime" placeholder="Time">
      </div>

      <div class="form-group">
        <label for="eventLocation">Event Location</label>
        <input class="form-control" type="string" id="eventLocation" placeholder="Location">
      </div>

      <div class="form-group">
        <label for="eventDescription">Event Description (optional)</label>
        <input class="form-control" type="text" id="eventDescription" placeholder="Description">
      </div>
    </form>
  </div>

  <div class="col-md-4">
    <h2>Who?</h2>
    <form class="form-horizontal">
      <div class="form-group">
        <label for="hostName">Who Are You?</label>
        <input class="form-control" type="string" id="hostName" placeholder="Name">
      </div>

      <div class="form-group">
        <label for="hostEmail">Your Email (optional):</label>
        <input class="form-control" type="email" id="hostEmail" placeholder="Email">
      </div>

      <div class="form-group">
        <label for="guestNames">How many guests can you host?</label>
        <input class="form-control" type="number" id="guestNames" placeholder="">
      </div>

      <div class="form-group">
        <label for="guestEmails">Guest Emails (optional):</label>
        <input class="form-control" type="text" id="guestEmails" placeholder="Emails">
      </div>
    </form>
  </div>

  <div class="col-md-4">
    <h2>What?</h2>
    <form class="form-horizontal">

      <div class="form-group">
        <label for="dishesToBring">What should guests bring?  Separate dishes with commas.</label>
        <input class="form-control" type="text" id="dishesToBring" placeholder="What to bring?">
      </div>

      <div class="form-group">
        <input type="checkbox" id="acceptCash">
        <label for="acceptCash">Can guests pay with cash?</label>
      </div>

      <div class="form-group">
        <label for="cashAmount">How Much?</label>
        <input class="form-control" type="number" id="cashAmount">
      </div>
    </form>
  </div>

  <p>
    <button class="btn fullwidth btn-primary" type="button" onclick="onSubmit()">Let's Do it!</button>
  </p>
{% endblock %}

{% block scripts %}
  <script src="/static/js/home.js"></script>
{% endblock %}
