<!DOCTYPE html5>
<html>
<head>
  <meta charset="utf-8">
  <title>What2Bring</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A potluck party-planning app">

  <!-- Bootstrap -->
  <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous"
  >

  <style type="text/css">
    .container {
      max-width: 1000px;
    }

    .jumbotron, .modal-header {
      background-color:#33BBFF;
    }

    label {
      font-weight: 200;
    }

    .form-horizontal .form-group{
      margin-left: 0;
      margin-right: 0;
    }

    .btn.fullwidth {
      width: 100%;
      margin-top: 44px;
    }

    .strikethrough {
      text-decoration: line-through;
    }

    .nav a {
      cursor: pointer;
    }

  </style>
</head>

<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">What2Bring</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="#">New Event</a>
        </li>
        <li>
          <a data-toggle="modal" data-target="#myModal">About</a>
        </li>
      </ul>

    </div>
  </div>
</nav>

  <div class="container">

    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="jumbotron">
      <h1>What2Bring</h1>
      <p>You already know when it's happenening.  Now, it's only a question of who's coming and what they're bringing.</p>
      <h3>Let's get started:</h3>
      <form class="form">
        <input class="form-control" type="string" id="inputEventName" placeholder="Name Your Event">
      </form>
    </div>

    <div class="col-md-4">
      <h2>Where & When?</h2>
      <form class="form-horizontal">
        <div class="form-group">
          <label for="inputDate">Event Date</label>
          <input class="form-control" class="form-control" type="date" id="inputDate" placeholder="Date">
        </div>

        <div class="form-group">
          <label for="inputTime">Event Time</label>
          <input class="form-control" type="string" id="inputTime" placeholder="Time">
        </div>

        <div class="form-group">
          <label for="inputLocation">Event Location</label>
          <input class="form-control" type="string" id="inputLocation" placeholder="Location">
        </div>

        <div class="form-group">
          <label for="inputDescription">Event Description (optional)</label>
          <input class="form-control" type="text" id="inputDescription" placeholder="Description">
        </div>
      </form>
    </div>

    <div class="col-md-4">
      <h2>Who?</h2>
      <form class="form-horizontal">
        <div class="form-group">
          <label for="inputName">Who Are You?</label>
          <input class="form-control" type="string" id="inputName" placeholder="Name">
        </div>

        <div class="form-group">
          <label for="inputUserEmail">Your Email (optional):</label>
          <input class="form-control" type="email" id="inputEmail" placeholder="Email">
        </div>

        <div class="form-group">
          <label for="inputGuests">How many guests can you host?</label>
          <input class="form-control" type="number" id="inputGuests" placeholder="">
        </div>

        <div class="form-group">
          <label for="inputGuestEmails">Guest Emails (optional):</label>
          <input class="form-control" type="text" id="inputGuestEmails" placeholder="Emails">
        </div>
      </form>
    </div>

    <div class="col-md-4">
      <h2>What?</h2>
      <form class="form-horizontal">

        <div class="form-group">
          <label for="inputToBring">What should guests bring?  Separate dishes with commas.</label>
          <input class="form-control" type="text" id="inputToBring" placeholder="What to bring?">
        </div>

        <div class="form-group">
          <input type="checkbox" id="inputCash">
          <label for="inputCash">Can guests pay with cash?</label>
        </div>

        <div class="form-group">
          <label for="inputCashAmount">How Much?</label>
          <input class="form-control" type="number" id="inputCashAmount">
        </div>
      </form>
    </div>

    <p>
      <button class="btn fullwidth btn-primary" type="button" onclick="onSubmit()">Let's Do it!</button>
    </p>


    <hr>

    <footer>
      <p>&copy; Miller & Schaffer <span class="strikethrough"> 2012</span> 2016</p>
    </footer>

  </div>

  <!-- About Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">What is What2Bring?</h4>
        </div>
        <div class="modal-body">
          <p><strong>What2Bring makes event planning easy.</strong></p>

          <p>Suppose you're Alice, and you want to plan a tea party. Your table is only big enough for three guests, but you want to invite everyone in Wonderland. Also, you need somebody to bring crumpets, somebody to bring cake, and somebody to bring the tea!</p>


          <p>Fortunately, Alice has What2Bring. She creates an event and sends the link to all her friends in Wonderland. Now, nobody feels left out. When it's teatime, Alice knows who's coming and what they're bringing–and not everybody is bringing crumpets.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- jQuery, minified -->
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous">
</script>
  <!-- Bootstrap JS, minified -->
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous">
  </script>
  <!-- Custom JS -->
  <script src="static/js/home.js"></script>
</body>
</html>
